<?xml version="1.0"?>
<TSSDataDistribution>
    <ConnectionStrings>
        <ConnectionString name="DefaultConnection" connectionString="Data Source=[Standard SQL Server Connection String]" default="true">
            <Districts>
                <add id="1001"/>
                <add id="1002"/>
                <!-- This section is redundant and added for example only as all districts not explicitly mentioned in another connection string are added to the default configuration. -->
            </Districts>
        </ConnectionString>
        <ConnectionString  name="DistrictDatabaseConnection1" connectionString="Data Source=[Standard SQL Server Connection String]" default="true">
            <Districts>
                <add id="1003"/>
                <add id="1004"/>
                <add id="9999"/>
            </Districts>
        </ConnectionString>
        <!-- Additional connection strings may follow, here. -->
    </ConnectionStrings>
</TSSDataDistribution>