<?xml version="1.0"?>
<appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />

    <add key="EMAIL_AS_UUID" value="true"/>
    <add key="ART_API_URL" value="https://[SOME ART SERVER URL]/rest/user" />
    <add key="ART_API_REST_API_BASE_URL" value="https://[SOME ART SERVER URL]/rest"/>
    <add key="ART_API_CLIENT" value="SBAC"/>
    <add key="ART_OAUTH_URL" value="https://[SOME OPENAM URL]/auth/oauth2/access_token?realm=/[realm name where needed]"/>
    <add key="ART_OAUTH_PASSWORD_GRANTTYPE" value="true" />
    <add key="ART_OAUTH_USERNAME" value="[Valid OpenAM Username]"/>
    <add key="ART_OAUTH_REQUIRED" value="true"/>
    <add key="ART_OAUTH_PASSWORD" value="[Password for Valid User]"/>
    <add key="ART_OAUTH_SECRET" value="[Client Secret]"/>
    <add key="ART_OAUTH_CLIENTID" value="[Client ID as Configured in OpenAM]"/>

    <add key="IGNORE_TENANCY_CHAINS" value="False"/>
    <add key="SAML_OWNER_PREFIX" value="sbac"/>
    <add key="SAML_SESSIONREFRESH_URL" value="https:/[SOME OPENAM URL]/auth/identity/attributes?refresh=true"/>
    <add key="SAML_REDIRECT" value="https://[The URL of the THSS Service]/"/>
    <add key="PERMISSIONS_SCHEMA_URL" value="https://[SOME PERMISSIONS SERVER URL]/rest/role?component=[Name of Component as Registered in Permissions Server]"/>

    <!-- It is possible to load a pre-configured set of permissions from below instead of using the permissions API. Set LOAD_PERMISSIONS_FROM_LOCAL to true and load a role.json file in the App_Config folder. See Permissions API for JSON structure. -->
    <add key="LOAD_PERMISSIONS_FROM_LOCAL" value="false"/>
    <add key="ART_ENTITIES_DATA_CACHING_DAYS" value="1" />
    <add key="ART_SCORER_DATA_CACHING_MINS" value="30"/>
    <add key="IRIS_OPEN_SOURCE" value="True"/>
    <add key="IRIS_VENDOR_ID" value="2B3C34BF-064C-462A-93EA-41E9E3EB8333" />
    <add key="IRIS_ROOT_URL" value="https://[Item Renderer URL]/IRiS/"/>
    <add key="IRISBlackbox_ROOT_URL" value="https://[Item Renderer URL]/IRiS/"/>

    <add key="IRIS_PEM_LOCATION" value="" />
    <add key="IRIS_KEY_EXPIRE_MINUTES" value="30" />

    <add key="USER_GUIDE_LOCATION" value="/content/UserGuide/TSS_User_Guide.docx"/>
    <add key="SCORE_SUBMITTED_MESSAGE" value="The score has been saved." />
    <add key="ACCESS_DENIED" value="You are not Authorized User"/>
    <add key="SHOW_STATUS" value="true" />

    <!-- Minimum level for which logs should be created -->
    <add key="MinLogLevel" value="Info" />
    <add key="COOKIE_TIMEOUT_MINS" value="30"/>
</appSettings>