<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--MAP TO  TSS.Data.DataDistribution.DataDistributionConfig-->
  <configSections>
    <section name="TSSDataDistribution" type="TSS.Data.DataDistribution.DataDistributionConfig, TSS.Data" />
  </configSections>

  <!--MAP TO DataDistribution.config file -->
  <TSSDataDistribution configSource="App_Data\DataDistribution.config"/>

  <!-- load app settings -->
  <appSettings configSource="App_Data\settings.config"/>
  
  <!--Deprecated: See DataDistribution.config <connectionStrings configSource="database.config"/>-->
 <system.web>

    <customErrors mode="Off"/>
    
    <httpRuntime targetFramework="4.5" />
    
    <compilation debug="true" targetFramework="4.5" />
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      
    </pages>

    <httpHandlers>
      <add path="InitiateLogin.aspx" verb="*" type="SAML.Handler.InitiateLogin" />
      <add path="InitiateLogout.aspx" verb="*" type="SAML.Handler.InitiateLogout" />
      <add path="openam_keepalive.aspx" verb="*" type="SAML.Handler.openam_keepalive" />
    </httpHandlers>
    <httpModules>
      <add name="SAMLSessionCheck" type="SAML.Module.SAMLSessionCheck, FedletAPI" />
    </httpModules>
    
  </system.web>



  <system.webServer>
    <handlers>
      <add name="loginHandler" path="InitiateLogin.aspx" verb="*" type="SAML.Handler.InitiateLogin" />
      <add name="logoutHandler" path="InitiateLogout.aspx" verb="*" type="SAML.Handler.InitiateLogout" />
      <add name="keepaliveHandler" path="openam_keepalive.aspx" verb="*" type="SAML.Handler.openam_keepalive" />  
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SAMLSessionCheck" type="SAML.Module.SAMLSessionCheck, FedletAPI" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>