@{
    ViewBag.Title = "Home";
    Layout = "_Layout.cshtml";
    ViewBag.TenancyChain = TSS.MVC.UserAttributes.SAML.TenancyChainList;
}

<h2>Loading...</h2>
<script>
	window.location.href = "/Home/ItemList";
</script>
